.all_box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.router{
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    background-color: #fa9966;
}
.router_items{
    margin-top: 20px;

}
.content{
    display: flex;
    height: 100%;
    width: 75%;
    flex-direction: column;
}
.content_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 5%;
    width: 100%;
    font-size: 30px;
   background-color: #fcd89e;
   color: #ddb387;
}
.content_body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}